@font-face {
    font-family: alicia;
    src: url('../assets/fonts/Alice_in_Wonderland_3.ttf');
  }

  @font-face {
    font-family: bebop;
    src: url('../assets/fonts/Bookman\ Bold.ttf Condensed\ Bold.ttf');
  }

  @font-face {
    font-family: bebop2;
    src: url('../assets/fonts/Bookman\ Bold.ttf');
  }