@import "fuentes";
@import "color";

/*HEADER*/

.header {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "logo logo"
    "nav nav"
    ;
   }

   $header-px: (
    'large': 200px,
    'medium': 125px,
    "small": 40px
    );

.header__logo {
    grid-area: logo;
    height: map-get($map: $header-px, $key: 'medium');
    width: map-get($map: $header-px, $key: 'medium');
    margin: 0px auto;
    justify-self: center;
    align-self: center;
    }

.header__logo__img {
    margin: 0 auto;
    width: map-get($map: $header-px, $key: 'medium');
    height: map-get($map: $header-px, $key: 'medium');
    }
   
   .header__nav {
       grid-area: nav;
       margin-top: 10px;
       width: max-content;
       height: 50px;
       background-color: rgb(216, 216, 216);
       margin: 0 auto;
       border-radius: 10px;
   }
   
   @mixin header-seleccion ($scale, $trans){
       transform: scale($scale) translate($trans)
   }

   .header__nav__list {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       list-style-type: none;
       margin: 0 auto;
       padding-inline-start: 0px;

       li {
            margin: 7px 15px;
            a {
                text-decoration: none;
                color: black;
                font-size: 28px;
                font-family: alicia;
                transition: 0.3s;
            }
            &:hover {
                a {
                    color: white;
                }
            }
        }
   }
   
   .header__insta {
       width: 300;
       height: 50;
       position: fixed;
       top: 20px;
       right: 20px;
   }
   
   .header__insta__img {
       width: map-get($map: $header-px, $key: 'small');
       height: map-get($map: $header-px, $key: 'small');
       &:hover {
            @include header-seleccion((1.1, 1.1), (-3px, 3px))
       }
   }
   
   
   
   @media screen and (max-width: 660px) {      
       .header__nav {
           grid-area: nav;
           margin-top: 10px;
           width: max-content;
           height: 50px;
           background-color: rgb(216, 216, 216);
           margin: 0 auto;
           border-radius: 10px;
           display: flex;
           align-items: center;
       }
    
       .header__nav__list {
           align-items: center;   
           li {
                margin: 4px 8px;
                a {
                    font-size: 20px;
                }
                }
            }
    }
       
        .header__insta__img {
        width: 40px;
        height: 40px;
        &:hover {
            transform: scale(1, 1) translate(0px, 0px);
        }
    } 
   
   @media screen and (max-width: 450px) {
    .header__nav__list {
        align-items: center;   
        li {
             margin: 2px 4px;
             a {
                 font-size: 20px;
             }
             }
    }

    
     .header__insta__img {
     width: 30px;
     height: 30px;
    } 
 }
   
   /*HEADER*/
   
   .title {
    @if $color == grey {
        text-align: center;
        font-size: 75px;
        font-family: alicia;
    }
    @else if $color == black {
        color: red;
    }
    @else {
        text-align: start;
        font-size: 60px;
    }
   }
   
   @media screen and (max-width: 600px) {
       .title {
           font-size: 50px;
           margin: 20px auto;
       }
   }

   /*INDEX*/

   .index__flaneur {
       width: 50%;
       height: 300px;
       margin: 0 auto 25px auto;
       display: flex;
       justify-content: center;
       align-items: center;
       background-image: url('../assets/img/felix-ave-galeria.jpg');
       h1 {
           font-size: 60px;
           color: rgb(134, 0, 0);
       }
   }

   .index__galeria__uno {
       width: 70%;
       height: max-content;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: 0.1fr 1fr;
       grid-template-areas: "tit . . ."
       "card card card card";
       row-gap: 30px;
       margin: 40px auto;
       h2 {
         grid-area: tit;
       }
   }

   .index__g-galeria-uno {
       grid-area: card;
       display: flex;
       justify-content: space-between;
   }

   .index__cards-galeria-uno{
       width: 200px;
       height: 200px;
       img {
        width: 200px;
        height: 200px;
       }
   }
   
   .index__galeria-dos {
       display: grid;
       width: 70%;
       margin: 0 auto;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: 0.1fr 1fr;
       grid-template-areas: "tit . . . . ."
       "car car car car car car";
       justify-content: center;
       h2 {
         display: flex;
         grid-area: tit;
         justify-self: start;
       }
   }

   .index__g-galeria-dos {
       grid-area: car;
       display: flex;
       width: 100%;
       justify-self: center;
       justify-content: center;
        background-image: linear-gradient(grey, rgb(226, 226, 226));
        border-radius: 10px;
       img {
           width: 700px;
           height: 525px;
       }
       margin: 50px auto;
   }

   .index__galeria-slider {
       width: max-content;
   }

   .flaneur-slider {
       display: flex;
       justify-content: center;
       width: 100%;
   }

   .index__contenedor-botones {
       width: 60%;
       margin: 0 auto;
       margin-top: 15px;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-areas:
       "boton_uno logo boton_dos";
   }
   
   .index__contenedor-logo {
       grid-area: logo;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   @keyframes img_vueltas {
       0% { transform: rotateY(0deg); }
       20% { transform: rotateY(90deg); }
       40% { transform: rotateY(180deg); }
       60% { transform: rotateY(270deg); }
       80% { transform: rotateY(360deg); }
       100% { transform: rotateY(360deg); }
   }
   
   .index__contenedor-logo__img {
       width: 75px;
       height: 75px;
       animation-name: img_vueltas;
       animation-duration: 2s;
       animation-delay: 5s;
       animation-iteration-count: infinite;
   }

   @for $i from 1 through 2 {
       @if $i == 1{
            .boton-#{$i} {
                grid-area: boton_uno;
                display: none;
            }
        }
        @if $i == 2{
            .boton-#{$i} {
                grid-area: boton_dos;
                display: none;
            }
        }
   }
   

   @media screen and (max-width: 1550px) {
    .index__flaneur {
        background-image: url('../assets/img/felix-ave-galeria2.jpg');
   }
}

   @media screen and (max-width: 1250px) {

    .index__flaneur {
        background-image: url('../assets/img/felix-ave-galeria3.jpg');
   }

    .index__cards-galeria-uno {
        width: 150px;
        height: 150px;
        img {
            width: 150px;
            height: 150px;
        }
    }

    .index__galeria-dos{
        img{
            width: 600px;
            height: 450px;
        }
    }
   }

   @media screen and (max-width: 1100px) {
    .index__flaneur {
        height: 200px;
    }

    .index__cards-galeria-uno {
        width: 110px;
        height: 110px;
        img {
            width: 110px;
            height: 110px;
        }
    }

    .index__galeria-dos{
        width: 50%;
        img{
            width: 540px;
            height: 335px;
        }
    }
}

    @media screen and (max-width: 970px) {
        .index__flaneur {
            background-image: url('../assets/img/felix-ave-galeria4.jpg');
       }

        .index__galeria-dos{
            img{
                width: 340px;
                height: 255px;
            }
        }
    }

    @media screen and (max-width: 750px) {
        .index__galeria-dos{
            img{
                width: 300px;
                height: 225px;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .index__flaneur {
            width: 65%;
            height: 150px;
        }

        .index__galeria__uno {
            width: 85%;
            h2 {
                font-size: 20px;
            }
        }

        .index__cards-galeria-uno {
            width: 100px;
            height: 100px;
            img {
                width: 100px;
                height: 100px;
            }
        }

        .index__galeria-dos{
            width: 70%;
        }
   }

   @media screen and (max-width: 600px) {
    .index__flaneur {
        height: 100px;
        h1 {
            font-size: 40px;
        }
    }

    .index__flaneur {
        background-image: url('../assets/img/felix-ave-galeria5.jpg');
   }

       .index__galeria {
           padding: 5% 10% 10% 10%;
           div {
               margin-bottom: 0px;
           }
       }
       
       .index__galeria__img--i {
           width: 100%;
           height: 75%;
       }

       .index__galeria__uno {
        width: 70%;
        height: max-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.1fr 5fr 5fr;
        grid-template-areas: "tit ."
        "card card" "card card";
        row-gap: 10px;
        margin: 40px auto;
        h2 {
          grid-area: tit;
          justify-self: center;
        }
    }
 
    .index__g-galeria-uno {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
 
    .index__cards-galeria-uno{
        width: 150px;
        height: 150px;
        img {
         width: 150px;
         height: 150px;
        }
    }
   }

   @media screen and (max-width: 480px) {
    .index__flaneur {
        background-image: url('../assets/img/felix-ave-galeria6.jpg');
     }

       .index__g-galeria-dos {
           img {
               width: 240px;
               height: 180px;
           }
       }
   }

   @media screen and (max-width: 460px) {
       .index__galeria__uno {
           row-gap: 0px;
       }
        .index__cards-galeria-uno{
            width: 120px;
            height: 120px;
            img {
             width: 120px;
             height: 120px;
            }
        }
   }

   @media screen and (max-width: 400px) {
       .index__g-galeria-dos {
           img {
               width: 200;
               height: 150px;
           }
       }
   }
   
   /*INDEX*/
   
   /*GALERIA*/
   
   .galeria {
       display: grid;
       width: 55%;
       margin: 0 auto;
       grid-template-columns: repeat(6, 1fr);
       grid-template-rows: 1fr 1fr 1fr;
       row-gap: 20px;
       grid-template-areas: "uno uno uno dos dos dos"
       "uno uno uno tres tres tres" "uno uno uno tres tres tres";
   }

   .galeria__img-felix-ave {
       grid-area: dos;
       width: 100%;
   }

   .galeria__img-ave {
       grid-area: uno;
       width: 75%;
       justify-self: center;
   }

   .galeria__img-patty-cuadrada {
       grid-area: tres;
       width: 47%;
       justify-self: end;
   }

   .galeria__img-keke-flaneur {
    grid-area: tres;
    width: 47.5%;
    justify-self: start;
}

.galeria__img-felix-ave2 {
    grid-area: uno;
    width: 75%;
    align-self: end;
    justify-self: center;
    margin-bottom: 30px;
}

.galeria__img-icono-flaneur {
    grid-area: tres;
    width: 47%;
    align-self: end;
    margin-left: 10px;
}

.galeria__img-vestido {
    grid-area: tres;
    width: 43%;
    align-self: end;
    justify-self: end;
}
   
   /*GALERIA*/
   
   /*SHOP*/
   
   .shop__galeria {
       display: grid;
       width: 80%;
       height: max-content;
       margin: 40px auto;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: 1fr 1fr;
       column-gap: 30px;
       row-gap: 40px;
   }

   .shop__galeria-card {
       width: 500px;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: repeat(4, 0.25fr);
       grid-template-areas: "img img . ."
       "img img info info" "img img talle talle" "img img boton boton";
   }

   .shop__galeria-card-carrusel {
    grid-area: img;
    width: 285px;
    height: 380px;
    img {
        width: 285px;
        height: 380px;
    }
   }

   .shop__galeria-card-info {
       grid-area: info;
       margin-left: 5px;
       align-self: center;
   }

   .shop__galeria-card-talles {
       grid-area: talle;
       h3 {
           font-size: 15px;
           padding: 0 5px;
       }
       label {
           padding: 0 5px;
       }
   }

   .shop__galeria-card-boton {
       grid-area: boton;
       align-self: end;
       justify-self: end;
       text-decoration: none;
       height: max-content;
       span {
        padding: 7px 12px;
        border-radius: 10px;
        background-color: rgb(187, 187, 187);
        color: rgb(3, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.3s;
        &:hover {
            background-color: rgb(56, 56, 56);
            color: rgb(255, 255, 255);        
        }
       }
   }

   @media screen and (max-width: 1170px) {
    .shop__galeria {
        height: max-content;
        margin: 40px auto;
        column-gap: 30px;
        row-gap: 40px;
    }
 
    .shop__galeria-card {
        width: 420px;
    }
 
    .shop__galeria-card-carrusel {
     width: 240px;
     height: 320px;
     img {
         width: 240px;
         height: 320px;
     }
    }
 
    .shop__galeria-card-info {
        font-size: 15px;
        margin-left: 5px;
    }
 
    .shop__galeria-card-talles {
        h3 {
            font-size: 13px;
            padding: 0 5px;
        }
        label {
            padding: 0 5px;
        }
    }
 
    .shop__galeria-card-boton {
        span {
            font-size: 12px;
         padding: 7px 12px;
         border-radius: 10px;
        }
    }
   }

   @media screen and (max-width: 1090px) {
    .shop__galeria {
        height: max-content;
        margin: 40px auto;
        column-gap: 30px;
        row-gap: 40px;
    }
 
    .shop__galeria-card {
        width: 360px;
    }
 
    .shop__galeria-card-carrusel {
     width: 210px;
     height: 280px;
     img {
         width: 210px;
         height: 280px;
     }
    }
 
    .shop__galeria-card-info {
        font-size: 13px;
        margin-left: 5px;
    }
 
    .shop__galeria-card-talles {
        h3 {
            font-size: 12px;
            padding: 0 5px;
        }
        label {
            padding: 0 5px;
        }
    }
 
    .shop__galeria-card-boton {
        span {
            font-size: 11px;
         padding: 7px 12px;
         border-radius: 10px;
        }
    }
   }

   @media screen and (max-width: 855px) {
    .shop__galeria-card {
        width: 330px;
    }
 
    .shop__galeria-card-talles {
        h3 {
            font-size: 12px;
            padding: 0 5px;
        }
        label {
            font-size: 12px;
            padding: 0 3px;
        }
    }
   }

   @media screen and (max-width: 790px) {
    .shop__galeria {
        display: grid;
        width: 80%;
        height: max-content;
        margin: 40px auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 40px;
        justify-content: center;
    }
 
    .shop__galeria-card {
        justify-self: center;
        width: 500px;
    }
 
    .shop__galeria-card-carrusel {
     grid-area: img;
     width: 285px;
     height: 380px;
     img {
         width: 285px;
         height: 380px;
     }
    }

    .shop__galeria-card-info {
        font-size: 16px;
        margin-left: 5px;
    }
 
 
    .shop__galeria-card-talles {
        h3 {
            font-size: 15px;
            padding: 0 5px;
        }
        label {
            font-size: 15px;
            padding: 0 3px;
        }
    }

    .shop__galeria-card-boton {
        span {
            font-size: 15px;
        }
    }
   }

   @media screen and (max-width: 600px) {
    .shop__galeria-card {
        justify-self: center;
        width: 400px;
    }
 
    .shop__galeria-card-carrusel {
     grid-area: img;
     width: 240px;
     height: 320px;
     img {
         width: 240px;
         height: 320px;
     }
    }

    .shop__galeria-card-info {
        font-size: 16px;
        margin-left: 5px;
    }
 
 
    .shop__galeria-card-talles {
        h3 {
            font-size: 15px;
            padding: 0 5px;
        }
        label {
            font-size: 15px;
            padding: 0 3px;
        }
    }

    .shop__galeria-card-boton {
        span {
            font-size: 15px;
        }
    }
   }

   @media screen and (max-width: 450px) {
    .shop__galeria-card {
        justify-self: center;
        width: 350px;
    }
 
    .shop__galeria-card-talles {
        h3 {
            font-size: 12px;
            padding: 0 5px;
        }
        label {
            font-size: 12px;
            padding: 0 3px;
        }
    }

    .shop__galeria-card-boton {
        span {
            font-size: 12px;
        }
    }
   }


   /*SHOP*/
   
   /*SOBRE NOSOTROS*/
   
   .sb__article {
       display: flex;
       width: 90% ;
       margin: 0 auto;
   }
   
   .sb__aside {
       display: flex;
       width:100%;
       height: max-content;
   }
   
   .youtube {
       margin-bottom: 10px;
   }
   
   @media screen and (max-width: 360px) {
       .youtube {
           width: 200px;
           height: 100px;
       }
   }
   
   /*SOBRE NOSOTROS*/
   
   /*CONTACTO*/
   
   .contacto__tit-form {
       width: 50%;
       display: flex;
       margin: 0 auto;
       justify-content: start;
   }
   
   .contacto__form {
       width: 50%;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
       grid-template-areas: ". nombre nombre ."
       ". email email ." ". caja caja ." ". caja caja ."
       "botones botones . .";
       background-color: grey;
       border-radius: 10px;
       margin: 0 auto;
       justify-content: center;
       align-items: center;
   }
   
   .contacto__form-n {
       margin: 0 auto;
       display: flex;
       grid-area: nombre;
       input {
           height: max-content;
       } 
   }

   .contacto__form-e {
        margin: 0 auto;
       display: flex;
        grid-area: email;
        input {
            height: max-content;
        } 
}

    .contacto__caja {
        grid-area: caja;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
   
    .contacto__botones {
        display: flex;
        grid-area: botones;
    }

   .contacto__form__b {
       padding: 10px;
   }

   @media screen and (max-width: 1000px) {
    .contacto__form {
        width: 50%;
        grid-template-areas: "nombre nombre nombre nombre"
        "email email email email" ". caja caja ." ". caja caja ."
        "botones botones . .";
        p {
            font-size: 15px;
        }
        input {
            font-size: 15px;
        }
   }
}

@media screen and (max-width: 800px) {
    .contacto__form {
        width: 70%;
        p {
            font-size: 15px;
        }
        input {
            font-size: 15px;
        }
   }
}

@media screen and (max-width: 560px) {
    .contacto__form {
        grid-template-areas: "nombre nombre nombre nombre"
        "email email email email" "caja caja caja caja" "caja caja caja caja"
        "botones botones . .";
        p {
            font-size: 13px;
        }
        input {
            font-size: 13px;
        }
   }

   .contacto__caja {
    width: 80%;
    height: 80%;
    justify-self: center;
    }
}
   
   /*CONTACTO*/
   
   /*FOOTER*/
   
   .footer {
       display: grid;
       grid-template-columns: repeat(10, 1fr);
       grid-template-areas: "contacto contacto . . derechos derechos . . redes redes";
       margin: 10px;
   }
   
   .footer__contacto {
       display: flex;
       width: max-content;
       grid-area: contacto;
       justify-self: center;
       text-decoration: none;
       color: black;
       h3 {
           font-size: 23px;
       }
   }

   .footer__derechos {
       grid-area: derechos;
       margin: 0 auto;
       font-size: 15px;
       font-style: italic;
       align-self: end;
       text-align: center;
   }

   .footer__redes {
       grid-area: redes;
       justify-self: center;
       display: grid;
       justify-content: center;
       grid-template-columns: 0.8fr 0.2fr;
       column-gap: 10px;
       h3 {
           font-size: 23px;
       }
       img {
           width: 28px;
           height: 28px;
       }
   }
   
   @media screen and (max-width: 1300px) {
       .footer__contacto{
           h3 {
               font-size: 17px;
           }
       }
       .footer__derechos {
           font-size: 12px;
        }

        .footer__redes {
            h3 {
                font-size: 17px;
            }
            img {
                width: 22px;
                height: 22px;
            }
        }
}

   @media screen and (max-width: 600px) {
       .footer {
           width: 90%;
           margin: 10px auto;
           grid-template-areas: "contacto contacto . derechos derechos derechos derechos . redes redes";
       }
   }

   @media screen and (max-width: 500px){
    .footer__contacto{
        h3 {
            font-size: 14px;
        }
    }
    .footer__derechos {
        font-size: 11px;
     }

     .footer__redes {
         justify-content: start;
         h3 {
             font-size: 14px;
         }
         img {
             width: 20px;
             height: 20px;
         }
     }
   }

   @media screen and (max-width: 400px){
       .footer__contacto {
           h3 {
               font-size: 12px;
           }
       }
   }
   
   /*FOOTER*/